@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 300vh;
}

.bg {
    background-color: rgb(177 181 181);
}

.navbar {
    display: flex;
    height: 80px;
    font-family: 'ubuntu', sans-serif;
    font-size: 18px;
    margin-right: 24px;
    cursor: pointer;
}


.navbar li {
    list-style: none;
    margin: 0 12px;
}

.navbar li a{
    color: black;
    text-decoration: none;
}

.navbar li a:hover {
    font-size: 19px;
    color: rgb(83, 83, 83);
}


.font-bold {
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #1f4ba4;
    margin-left: 133px
}

.left {
    width: 50%;
    padding: 12px 0;
}

.right {
    width: 50%;
    padding: 12px 0;
    padding-right: 66px;

}

.section1 {
    background-image: url(images/p4.jpg);
    height: 100vh;
    overflow-y: hidden;
    overflow-x: visible;
}

.font-size {
    font-size: 20px;
}

.right .gems {
    width: 491px;
    margin-top: 66px;
}


.f2 {
    font-size: 41px;
}

.section2 {
    height: 100vh;
    background-image: url(images/p16.png);
    background-position: 10%;
    scroll-behavior: smooth;
    opacity: 0;
    /* Initially hide the section */
    transition: opacity 10s;
    animation: slideAnimation 20s infinite alternate;
    /* Adjust duration and other parameters as needed */
}

.animate {
    opacity: 1;
    /* Show the section with animation */
}

@keyframes slideAnimation {
    0% {
        background-position: 10%;
    }

    30% {
        background-position: 30%;
    }
}

.section2:not(.h1) {
    /* Styles for the section other than h1 */
    /* For example, if you want to add margin and padding to the section itself */
    margin: 0px;
    /* Adjust as needed */
    padding: 0px;
    /* Adjust as needed */
}

.h1 {
    padding: 72px;
    padding-bottom: 58px;
    font-size: 44px;
}

.p1 {
    padding-left: 70px;
    padding-right: 596px;
    padding-bottom: 36px;
    font-size: 21px;
}

.p2 {
    padding-left: 70px;
    padding-right: 630px;
    padding-bottom: 36px;
    font-size: 21px;
}

.p3 {
    padding-left: 70px;
    padding-right: 669px;
    padding-bottom: 36px;
    font-size: 20px;
}

.contain {
    height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.upper,
.lower {
    display: flex;
    height: 50%;
}

.upper-left {
    flex: 1;
    display: flex;
    margin-left: 108px;
}

.h2 {
    margin-bottom: 29px;

}

.p4 {
    font-size: 21px;
}

.upper-right {
    flex: 1;
    display: flex;

}

.upper-right .i1 {
    width: 475px;
    border-radius: 20px;
}

.lower-left {
    flex: 1;
    display: flex;
}

.lower-left .i1 {
    width: 475px;
    border-radius: 20px;
}

.lower-right {
    flex: 1;
    display: flex;
    margin-left: 108px;
}

.h2 {
    margin-bottom: 29px;

}

.p4 {
    font-size: 21px;
}

.fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}



/*---------------footer-----------------------------------------*/


.footer {
    background-color: rgb(30, 29, 29);
    padding: 39px 86px;
    height: 38vh;
    border-top-right-radius: 3000px;
}

.footer .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 104px;
    align-items: flex-start;
}


.footer .grid .box h3 {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    color: white;
    margin-bottom: 26px;
    text-transform: capitalize;
}

.footer .grid .box a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    display: block;
    margin: 15px 0;
    font-size: 20px;
    color: white;
}

.footer .grid .box a i {
    padding-right: 17px;
    color: antiquewhite;
    transition: .2s linear;
}

.footer .grid .box a:hover {
    color: antiquewhite;
}

.footer .grid .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    margin-top: 40px;
    padding: 0 20px;
    border-top: 15px;
    font-size: 22px;
    color: white;
}

.footer .credit span {
    color: rgb(249 31 97);
}

.scroll-to-top {
    position: fixed;
    bottom: 25px;
    right: 30px;
    background-color: #333;
    color: white;
    padding: 11px 17px;
    border-radius: 50%;
    display: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s, visibility 0.3s;
    /*border: 1px solid #ff004f;*/
}

.scroll-to-top:hover {
    background-color: #555;
    /* background: #ff004f;*/
}
